<h1>New Event</h1>

<% form_with(model: [:admin, @event], local: true) do |form| %>
  
  <div class="field">
    <label for=""></label>
    <input type="text" id="">
  </div>
  
  <div class="field">
    <label for=""></label>
    <input type="text" id="">
  </div>
  
  <div class="field">
    <label for=""></label>
    <input type="text" id="">
  </div>
  
  <div class="field">
    <label for=""></label>
    <input type="text" id="">
  </div>
  
  <div class="field">
    <label for=""></label>
    <input type="text" id="">
  </div>
  
  <div class="field">
    <label for=""></label>
    <input type="text" id="">
  </div>
  
  <div class="actions">
    <input type="submit">
  </div>
  
</form>